$color: (
  white: #fff,
  green: #20a79a,
  red: #dc3545,
  gray1: #7e86a8,
  gray2: #36313f,
  gray3: #e9f2fe,
  gray4: #f4f7fc,
  gray5: #2c3e50,
);

$transition: (
  sm: 150ms ease-in-out,
  md: 250ms ease-in-out,
  lg: 350ms ease-in-out
);

